body{
  background-image: url('../img/bg_services.jpg');
  background-repeat: no-repeat;
  background-position: center 100px;
}

#overlay{
  height: 380px;
}

#container {
  max-width:960px;
  margin-left:auto;
  margin-right:auto;
  font-family: 'merriweather_bold', Times, serif;
  overflow: auto;
}

#container div{
  width:306px;

}

.column-left{float:left;display:inline-block; margin-left:10px;margin-right:5px;}
.column-right{float:left;display:inline-block;margin-right:10px;margin-left:5px;}
.column-center{float:left;display:inline-block;margin-left:5px;margin-right:5px}

#container .column-box{
  background-color:white;
  padding-bottom: 15px;
}
#container .column-box h3{
  text-align: left;
  padding-left: 75px;
  padding-top: 25px;
  background-image: url(../img/box-logo.png);
  background-repeat: no-repeat;
  background-position: 30px 2px;
  height: 30px;
  font-size:16px;
}

#container .column-box ul{
  padding-left: 75px;
  list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');

}
#container .column-box p{
  padding-left:30px;
  padding-right:30px;
  padding-top:15px;
}

#container .column-box img{
  margin-left:auto;
  margin-right:auto;
  display:block;
  padding-top:30px;
}

